/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
p{
	text-align: center;
}

/* the styles for the header */
header img {
	width: 100%;
    align-content: center;
    float: left;
}

a:focus, a:hover {
	font-style: italic;
}

/* hide the #mobile_menu */
#mobile_menu{
	display: none;
}

/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
	width: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #113F67;
    color: #F3F9FB;
    font-weight: bold;
}
#nav_menu a.current {
	color: #87C0CD;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
	width: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the section */
section h1 {
    text-transform: uppercase;
    line-height: 24px;
	text-align: center;
	margin: auto;
    font-size: 24px;
    padding: 1em;
}

section h2{
    padding: .5em;
}

section p{
	font-size: 15px;
    letter-spacing: .3px;
    line-height: 1.45;
	text-align: center;
}

.callout-text {
    font-size: 24px;
    color: #005799;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
	align-items: center;
}

.disclaimer {
		font-size: 11px;
		color: #666;
		margin: 20px 0 0;
		text-align: center;
		align-items: center;
}

/* the styles for the tiles */
.certificationTiles {
    margin-left: -1.6%;
    margin-top: 3%;
    clear: both;
    height: auto; 
    }
    
.certificationTiles .certTile {
    width: 23.4%;
    height: 250px;
    float: left;
    position: relative;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    overflow: hidden;
    margin: 0 0 20px 1.6%;
    bottom: auto;
    left: auto;
    box-shadow: 0 5px 8px rgb(0 0 0 / 25%);
    top: auto;}
    
.certificationTiles .certTile h3 {
    text-transform: uppercase;
    font-size: 1em;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0; }
    
.certificationTiles .top {
    height: 50%; }
    
.certificationTiles .certTile .content {
    height: 40%;
    background-color: white;
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%; }
    
    
.certificationTiles .certTile h2 {
    font-size: 1.25em;
    margin: 90px 0 10px;
    color: #226597;}
    
.certificationTiles .certTile p {
    height: 0;
    opacity: 0;
    /*IE8*/
    filter: alpha(opacity=0);
    zoom: 1; }
    
.certificationTiles .certTile .icon {     /*create the circle white space as well as give it a shadow for the borders*/
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 80px;
    box-shadow: 2px 0 13px -5px black;
    height: 130px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 60px;
    width: 130px;
    z-index: 1; }
    
.certificationTiles .certTile .icon img {      /* round the pictures*/
    border-radius: 50%;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 110px; }
    
.certificationTiles .background .top {
    background-color: #226597; }
    
.column {
    color: #232323;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    background: #f2f2f2;
}
.content-box {
    padding: 15px;
    background: #87C0CD;;
    box-shadow: 0 5px 8px rgb(0 0 0 / 25%);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.threecolumnsblue h3{
    text-align: center;
}


.three-column{
    text-align:center;
    align-items:stretch
}
@media only screen and (min-width:801px){

    .three-column .content-box{
        width: 97%;
        max-width: 960;
        flex-direction:column}
}

.three-column h5{
    font-size:27px;
    font-weight:200;
    color:black;
    margin:0}

.three-column h3{
    font-size:20px;
    font-weight:200;
    color: #4c4e51;
    margin:0}

.three-column h4{
    font-size:25px;
    font-weight:200;
    color:#0070a8;
    margin-bottom:15px}

.three-column.degree-column p{
    font-size:14px}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 98%;                     /* changed from 800 pixels */
    max-width: 980px;
    margin: 0 auto;
	border-color: black;
    background-color: white;
}

/* the styles for the footer */
footer {
	background-color: #87C0CD;
  color: #F3F9FB;
	clear: both;

}
footer p {
	text-align: center;
	color: #F3F9FB;
	padding: .5em 0;
}


/* media query less than 1020px */
@media only screen and (max-width: 1020px){
    div article{
        font-size: 90%;
}

/* media query less than 923px */
@media only screen and (max-width: 923px){
    div article{
        font-size: 85%;
    }
}

/* media query less than 836px */
@media only screen and (max-width: 836px){
	section h1{
		font-size: 120%;
	}
    div article{
        font-size: 80%;
    }
    header img{
        align-content: center;
    }
	section p{
		font-size: 90%;
	}
	aside h1{
		font-size: 95%;
	}
	aside h2{
		font-size: 85%;
	}
	aside{
		font-size: 95%;
	}
	#nav_menu{
		font-size: 90%;
	}
}

/* media query less than 745px */
@media only screen and (max-width: 745px){
	#nav_menu{
		display: none;
	}
	#mobile_menu{
		display: block;
	}
	.slicknav_menu{ background-color: #113F67 !important;}
	header img{
		float: none;
		max-width: 100%;
	}
	header{
		align-content: center;
    }
}

/* media query less than 540px */
@media only screen and (max-width: 540px){
	body{
		font-size: 90%;
	}
    .certificationTiles .certTile .icon {     /*create the circle white space as well as give it a shadow for the borders*/
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 80px;
    box-shadow: 2px 0 13px -5px black;
    height: 100px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100px;
    z-index: 1;
    }
    
    .certificationTiles .certTile .icon img {      /* round the pictures*/
        border-radius: 50%;
        bottom: 0;
        left: 0;
        margin: auto;
        opacity: 1;
        position: absolute;
        right: 0;
        top: 0;
        width: 10px; 
    }
}