/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
p{
	text-align: center;
}

/* the styles for the header */
header img {
	width: 100%;
  align-content: center;
}
header h2 {
	font-size: 175%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
	text-align: center;
}
header img {
	float: left;

}
.shadow {
	text-shadow: 2px 2px 2px black;
}
a:focus, a:hover {
	font-style: italic;
}

/* hide the #mobile_menu */
#mobile_menu{
	display: none;
}

/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
	width: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #113F67;
    color: #F3F9FB;
    font-weight: bold;
}
#nav_menu a.current {
	color: #87C0CD;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
	width: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the section */
section h1 {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;                     /* changed from 800 pixels */
    max-width: 960px;
	border-color: black;
    background-color: white;
    text-transform: uppercase;
    padding: 0;
    font-weight: 700;
    line-height: 24px;
	text-align: center;
	margin: auto;
    font-size: 24px;
    padding: 4px;
}
section p{
	font-size: 18px;
    letter-spacing: .3px;
    line-height: 1.45;
	text-align: center;
}
section h2 {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;                     /* changed from 800 pixels */
    max-width: 960px;
	border-color: black;
    background-color: white;
}
.column {
	-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #232323;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    background: #f2f2f2;
}

.callout-text {
    margin: 10px 0;
    font-size: 24px;
    color: #005799;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    font-family: 'crimsonitalic', "Times New Roman", serif;
    line-height: 1.2em;
	align-items: center;
}

.disclaimer {
		font-size: 11px;
		color: #666;
		margin: 20px 0 0;
		text-align: center;
		align-items: center;
}


.content-box {
    padding: 15px;
	float: left;
}


.white-box {
    background: #87C0CD;;
    box-shadow: 0 5px 8px rgb(0 0 0 / 25%);
    -webkit-border-radius: 5px;
    border-radius: 5px;
	float: left;
}
.three-column{text-align:center;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:stretch;-ms-flex-align:stretch;-webkit-align-items:stretch;-moz-align-items:stretch;align-items:stretch}
@media only screen and (max-width:1140px){.three-column{-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center}
.three-column .column{margin-top:20px}

}
@media only screen and (min-width:801px){.three-column .column{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-align:stretch;-ms-flex-align:stretch;-webkit-align-items:stretch;-moz-align-items:stretch;align-items:stretch}
.three-column .content-box{width:100%;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.three-column .button{margin-top:auto}
}
@media only screen and (max-width:800px){.three-column{-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.three-column .content-box{position:relative}
}
.three-column h3{font-size:24px;font-weight:200;margin:0}
.three-column h4{font-size:48px;font-weight:200;color:#0070a8}
.three-column p{font-size:20px;font-weight:200}
.three-column.degree-column h3{font-size:24px;font-weight:200;color:#4c4e51;margin:0}
@media only screen and (max-width:1140px){.three-column.degree-column h3{font-size:20px}
}
.three-column.degree-column h4{font-size:56px;font-weight:200;margin-bottom:15px}
@media only screen and (max-width:1140px){.three-column.degree-column h4{font-size:46px}
}
.three-column.degree-column h4 span{font-size:42px}
@media only screen and (max-width:1140px){.three-column.degree-column h4 span{font-size:32px}
}
.three-column.degree-column p{font-size:14px}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 98%;                     /* changed from 800 pixels */
    max-width: 960px;
    margin: 0 auto;
	border-color: black;
    background-color: white;
}

/* the styles for the tiles */
.certificationTiles {
margin-left: -1.6%;
margin-top: 3%;
clear: both;
height: auto; 
}
.certificationTiles:after {
content: " "; }

.certificationTiles .filters a {
border: medium none;
border-radius: 10px;
color: #fff;
display: inline;
font-family: Calibri, Arial, Helvetica, sans-serif;
font-size: 1.125em;
font-weight: bold;
padding: 10px 50px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
background: #e42518 none repeat scroll 0 0; }

.certificationTiles .filters a:hover {
background: #CD2116;
text-decoration: none; }

.certificationTiles .filters select {
width: 290px;
margin-bottom: 20px; }

.certificationTiles .filters {
margin-left: 20px;
margin-bottom: 40px;
padding: 5px; }

.certificationTiles .certTile {
width: 23.4%;
height: 325px;
float: left;
position: relative;
border-radius: 10px;
font-family: Calibri, Arial, Helvetica, sans-serif;
display: inline-block;
cursor: pointer;
overflow: hidden;
margin: 0 0 20px 1.6%;
bottom: auto;
left: auto;
top: auto; }

.certificationTiles.whyRenew .certTile {
width: 31%; }

.certificationTiles .certTile h3 {
text-transform: uppercase;
font-size: 1em;
position: absolute;
bottom: 0;
left: 0;
right: 0; }

.certificationTiles .top {
height: 50%; }

.certificationTiles .certTile .content {
height: 50%;
background-color: white;
position: absolute;
bottom: 0;
text-align: center;
width: 100%; }

.certificationTiles .certTile h2 {
font-size: 1.25em;
margin: 50px 0 20px;
color: #616e76; }

.certificationTiles .certTile p {
height: 0;
opacity: 0;
/*IE8*/
filter: alpha(opacity=0);
zoom: 1; }

.certificationTiles .certTile .icon {
background-color: white;
background-position: center center;
background-repeat: no-repeat;
border-radius: 150px;
box-shadow: 2px 0 13px -5px black;
height: 150px;
left: 0;
margin: auto;
position: absolute;
right: 0;
top: 45px;
width: 150px;
z-index: 1; }

.certificationTiles .certTile .icon img {
border-radius: 50%;
bottom: 0;
left: 0;
margin: auto;
opacity: 1;
position: absolute;
right: 0;
top: 0;
width: 110px; }

.certificationTiles .infrastructure h3 {
color: #226597; }

.certificationTiles .infrastructure .top {
background-color: #226597; }

.certificationTiles .infrastructure.readMore .content {
background-color: #226597; }

.certificationTiles .infrastructure a {
background-color: #2980b9; }

.certificationTiles .infrastructure a:hover {
background-color: #5499C7; }

.certificationTiles .readMore .top {
height: 0; }

.certificationTiles .readMore .content {
bottom: auto;
height: 100%;
background-color: transparent; }

.certificationTiles .readMore .icon {
z-index: -1; }

.certificationTiles .readMore p {
height: 160px;
opacity: 1;
/*IE8*/
filter: alpha(opacity=100);
zoom: 1;
/*END*/
margin: 0 15px;
font-weight: bold;
color: #FFFFFF;
font-size: .91em; }

.certificationTiles .readMore h2 {
color: white;
height: 50px;
margin: 40px 0 20px; }

.certificationTiles .readMore h3 {
display: none; }

.certificationTiles .certTile a {
display: none; }

.certificationTiles .readMore a {
display: inline;
border-radius: 3px;
font-family: Calibri, Arial, Helvetica, sans-serif;
color: #FFFFFF;
font-size: .91em;
font-weight: bold;
padding: 6px 10px 6px 10px;
text-decoration: none; }

.certificationTiles .readMore a:hover {
text-decoration: none; }


/* the styles for the footer */
footer {
	background-color: #87C0CD;
  color: #F3F9FB;
	clear: both;

}
footer p {
	text-align: center;
	color: #F3F9FB;
	padding: .5em 0;
}
/* media query less than 810px */
@media only screen and (max-width: 810px){
	section h1{
		font-size: 95%;
	}
	section{
		font-size: 100%;
	}
	#nav_menu{
		font-size: 90%;
	}
}

/* media query less than 735px */
@media only screen and (max-width: 735px){
	#nav_menu{
		display: none;
	}
	#mobile_menu{
		display: block;
	}
	.slicknav_menu{ background-color: #113F67 !important;}
	header img{
		float: none;
		max-width: 100%;
	}
	header{
		align-content: center;
	}
	section{
		float: none;
		width: 95%;
	}
}

/* media query less than 415px */
@media only screen and (max-width: 415px){
	body{
		font-size: 90%;
	}
}