/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background-color: #226597;
	color: #F3F9FB;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header img {
	width: 100%;
  align-content: center;
	float: left;
}

/* hide the #mobile_menu */
#mobile_menu{
	display: none;
}

/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
	width: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #113F67;
    color: #F3F9FB;
    font-weight: bold;
}
#nav_menu a.current {
	color: #87C0CD;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
	width: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the section */
section {
	padding: .5em 0;
	border-top: 2px solid #F3F9FB; /* adds the white border below the heading */
}
section h1 {
	font-size: 150%;
	color: goldenrod; /* Track page sections */
	padding: .5em 0 .25em 0;
	margin: 0;
}
section h2 {
	color: goldenrod; /* Normal secondary page sections*/
	font-size: 100%;
	padding: .5em 0 .25em 1em;
}
section p.centered {
	text-align: center;
	padding-bottom: .5em;
}
section p{
	padding: .5em 0 .5em 1em;
}
section ul {
	padding: 0 0 .25em 2em;
	list-style-type: circle;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the table */
table{
	border: 1px solid black; /* outside border*/
	border-collapse: collapse;
	
}
th, td{
	border: 1px solid black; /* inside border*/
	padding: .2em .7em;
}

/* the styles for the footer */
footer {
	background-color: #226597;
  color: white;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: .5em 0;
}

/* media query less than 810px */
@media only screen and (max-width: 810px){
	section h1{
		font-size: 95%;
	}
	section{
		font-size: 100%;
	}
	#nav_menu{
		font-size: 90%;
	}
}

/* media query less than 735px */
@media only screen and (max-width: 735px){
	#nav_menu{
		display: none;
	}
	#mobile_menu{
		display: block;
	}
	.slicknav_menu{ background-color: #113F67 !important;}
	header img{
		float: none;
		max-width: 100%;
	}
	header{
		align-content: center;
	}
	section{
		float: none;
		width: 95%;
	}
}

/* media query less than 415px */
@media only screen and (max-width: 415px){
	body{
		font-size: 90%;
	}
}