/* styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html{
  background-color: royalblue;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0 auto;
}
a:focus, a:hover {
	font-style: italic;
}
/* styles for the header */
header img{
	float: left;
}

/* styles for the nav bar */
#nav_menu ul{
  float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100;
}
#nav_menu ul li{
	float: left;
}
#nav_menu li a{
	display: block;
	width: 200px;
	text-align: center;
	padding: 1em 0 1em 0;
	text-decoration: none;
	background-color: gray;
	color: white;
	font-weight: bold;
}
#nav_menu a.current{
	color: blue;
}
#nav_menu ul ul{
	display: none;
	top: 100%;
	position: absolute;
}
#nav_menu ul ul li{
	float: none;
}
#nav_menu ul li:hover > ul{
	display: block;
	text-align: center;
}
#nav_menu > ul::after{
	content: "";
	clear: both;
	display: block;
}
