/* styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 98%;                     /* changed from 800 pixels */
	max-width: 960px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

a:focus, a:hover {
	font-style: italic;
}
/* styles for the header */
header img{
	width: 100%;
}

/* styles for the nav bar */
#nav_menu{
	margin: 0 auto;
	text-align: center;
}
#nav_menu ul{
  float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
#nav_menu ul li{
	float: left;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
#nav_menu li a{
	display: block;
	width: 200px;
	text-align: center;
	padding: 1em 0 1em 0;
	text-decoration: none;
	background-color: gray;
	color: white;
	font-weight: bold;
}
#nav_menu a.current{
	color: blue;
}
#nav_menu ul ul{
	display: none;
	top: 100%;
	position: absolute;
}
#nav_menu ul ul li{
	float: none;
}
#nav_menu ul li:hover > ul{
	display: block;
	text-align: center;
}
#nav_menu > ul::after{
	content: "";
	clear: both;
	display: block;
}
