a:focus, a:hover {
	font-style: italic;
}

body{
  max-width: 100%;
}
img{
	max-width: 100%;
}
/* the styles for the nav menu */
#nav_menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
  max-width: 100%;
	/*display: inline;*/
}
#nav_menu ul li{
	display: inline;
	width: 20%;
	max-width: 100%;
}
#nav_menu li a{
	/*display: inline;*/
	width: 100%;
	/*text-align: center;*/
	padding: 1em 0 1em 0;
	text-decoration: none;
	background-color: gray;
	color: white;
	font-weight: bold;
}
#nav_menu a.current{
	color: blue;
}
#nav_menu ul ul{
	display: none;
	top: 100%;
	position: absolute;
}
#nav_menu ul ul li{
	float: none;
}
#nav_menu ul li:hover > ul{
	display: block;
}
#nav_menu > ul::after{
	content: "";
	clear: both;
	display: block;
}
